extends layout
block content
	#content
		#left_content
			.all_block
				.block_head 个人资料
				.block_body#user_show #{post.user.username}

			a(href="/userMain/#{post.user._id}")
				.btn.btn-primary.full_line 主页
			a(href="/post")
				.btn.btn-warning.full_line 写新文章

			.all_block.block_has
				.block_head 全部文章
				.block_body
					ul
						each items in info
							li
								a(href="/article/#{items.user._id}/#{items._id}") #{items.title}

		#right_content
			.block_body
				#a_title  #{post.title}
				ul.list_inline#a_detail
					li #{post.meta.createAt}
					li 评论()
					li 访问量()
				p 版权声明 ：未经博主允许不得转载。
				#a_content    #{post.content}

			.block_body.block_has
				.comment_head	查看评论
				each item in comments
					.comment_body
						if item.from
							h5  #{item.from.username} :
							a.callback(href="#comments", data-cid="#{item._id}", data-tid="#{item.from._id}") 回复
							.contentC #{item.content}
						else
							a.callback(href="#comments", data-cid="#{item._id}") 回复
							
						if item.reply && item.reply.length > 0
							each reply in item.reply
								a.callback(href="#comments",data-cid="#{item._id}", data-tid="#{reply.from._id}") 回复
								h5 #{reply.from.username} &nbsp;回复&nbsp;#{reply.to.username} :
								.contentC #{reply.content}

				.comment_head	发表评论
				if user
					.comment_submit
						#comments
						form(method="POST", action="/user/comment")
							input(type="hidden", name="comment[post]", value="#{post._id}")
							input(type="hidden", name="comment[to]", value="#{post.user._id}")
							if user
								input(type="hidden", name="comment[from]", value="#{user._id}")
							table
								tr
									th	用户名：
									td	#{user.username}
								tr
									th	评论内容：
									td
								tr
									th
									td
										textarea(name="comment[content]",row='4',placeholder="正文")
								tr
									th
									td
										button.btn.btn-primary(type="submit") 提交

				else
					a 请先登录

