extends layout
block content
	#content
		#left_content
			.all_block
				.block_head 个人资料
				.block_body#user_show #{post.user.username}

			a(href="/userMain/#{post.user._id}")
				.btn.btn-primary.full_line 主页
			a(href="/post")
				.btn.btn-warning.full_line 写新文章

			.all_block.block_has
				.block_head 全部文章
				.block_body
					ul
						each item in info
							li
								a(href="/article/#{item.user._id}/#{item._id}") #{item.title}

		#right_content
			.block_body
				#a_title  #{post.title}
				ul.list_inline#a_detail
					li #{post.meta.createAt}
					li 评论()
					li 访问量()
				p 版权声明 ：未经博主允许不得转载。
				#a_content    #{post.content}

			.block_body.block_has
				.comment_head	查看评论
				.comment_body	暂无评论
				.comment_head	发表评论
				if user
					.comment_submit
						form
							table
								tr
									th	label 用户名：
									td	#{user.username}
								tr
									th	评论内容：
									td
								tr
									th
									td
										textarea(row='3',placeholder="正文")
								tr
									th
									td
										button.btn.btn-primary(type="submit") 提交

				else
					a 请先登录

