extends layout
block content
	div.header_mid
		div( class="normal-search-content")
			div(class="top_nav_search" id="nav_search_form")  <!--搜索框 -->
				div(id="search_inner_box")
					select(name="little_option" class="no_outline")
						option 标题
						option 作者


				form(action="/search" method="get" id="top_nav_form")
					input(type="text" class="no_outline" data-tel="search_book" name="q"  placeholder="深入理解node.js" value="" autocomplete="off")
					input(type="submit" value="搜  索" class="ts_btn")


	table.table.table-bordered.table-hover
		thead
			tr
				th 标题
				th 正文
				th 作者
				th 日期
		tbody
			each item in post
				tr
					td #{item.title}
					td #{item.content}
					td
						a(href="/userMain/#{item.user._id}") #{item.user.username}
					td #{item.meta.createAt}

	a(href='/post') 写博客