extends layout
block content
	div.header_mid.clearfix
		#img_index
			img(src="/images/logo.png")
		div(class="top_nav_search" id="nav_search_form")  <!--搜索框 -->
			form(action="/search" ,method="GET" )
				select(name="option" class="no_outline")
					option 标题
					option 作者

				input(type="text" class="no_outline" data-tel="search_book" name="q"  placeholder="深入理解node.js" autocomplete="off")
				input(type="submit" value="搜  索" class="ts_btn")


	#content.clearfix
		#leftContent
			each item in post
				.index_list
					.index_title
						a(href="/article/#{item.user._id}/#{item._id}")  #{item.title}
					.index_content
						img(src="/images/#{item.user.photo}", alt="#{item.user.username}", width="45px" height="45px")
						p （摘要）#{item.content}
					p [ #{item.user.username} ] 发布与 #{item.meta.createAt}
						span(class=" glyphicon glyphicon-edit") 评论(#{item.commentL})
						span(class=" glyphicon glyphicon-list-alt") 阅读(#{item.pv})


		#rightContent
			a(href="/post")
				.btn.btn-warning.full_line 写新文章
			#ad_content
				ul#ad_ul
					li 凤凰台上凤凰游
					li 凤去台空江自流
					li 吴宫花草埋幽径
					li 晋代衣冠成古丘
					li 三山半落青天外
					li 二水中分白鹭洲
					li 总为浮云能蔽日
					li 长安不见使人愁
					li 凤凰台上凤凰游
					li 凤去台空江自流
					li 吴宫花草埋幽径
					li 晋代衣冠成古丘
					li 三山半落青天外
					li 二水中分白鹭洲
					li 总为浮云能蔽日
					li 长安不见使人愁
				ul#ad_ul1

			.block_body.block_has
				img(src="/images/1.png")
			.all_block.block_has
				.block_head 用户推荐
				.block_body.clearfix
					each photo in head
						#recommend
							a(href="/userMain/#{photo._id}")
								img(src="/images/#{photo.photo}", alt="#{photo.username}", width="65px" height="65px")


					
	script(src="/javascripts/main.js")


