extends layout
block content
	div.header_mid
		div( class="normal-search-content")
			div(class="top_nav_search" id="nav_search_form")  <!--搜索框 -->
				div(id="search_inner_box")
					select(name="little_option" class="no_outline")
						option 标题
						option 作者


				form(action="/search" method="get" id="top_nav_form")
					input(type="text" class="no_outline" data-tel="search_book" name="q"  placeholder="深入理解node.js" value="" autocomplete="off")
					input(type="submit" value="搜  索" class="ts_btn")


	#content.clearfix
		#leftContent
			each item in post
				.index_list
					.index_title
						a(href="/article/#{item.user._id}/#{item._id}")  #{item.title}
					.index_content #{item.content}
					p [ #{item.user.username} ] 发布与 #{item.meta.createAt}
						span(class=" glyphicon glyphicon-edit") 评论()
						span(class=" glyphicon glyphicon-list-alt") 阅读()


		#rightContent
			a(href="/post")
				.btn.btn-warning.full_line 写新文章
			#ad_content
				ul#ad_ul
					li 凤凰台上凤凰游
					li 凤去台空江自流
					li 吴宫花草埋幽径
					li 晋代衣冠成古丘
					li 三山半落青天外
					li 二水中分白鹭洲
					li 总为浮云能蔽日
					li 长安不见使人愁
					li 凤凰台上凤凰游
					li 凤去台空江自流
					li 吴宫花草埋幽径
					li 晋代衣冠成古丘
					li 三山半落青天外
					li 二水中分白鹭洲
					li 总为浮云能蔽日
					li 长安不见使人愁
				ul#ad_ul1


			.block_body.block_has
				img(src="/images/2.png")
			.block_body.block_has
				img(src="/images/1.png")

					
	script(src="/javascripts/main.js")
	a(href='/post') 写博客

