extends layout
block content
	#content.clearfix
		.block_body#block_padding
			table.noborder
				tr
					td
						img(src="/images/#{photo}", alt="#{name}", width="135px" height="135px")

					td
						#user_show #{name}
			if(user && user.username === name)
				form(method="POST",enctype="multipart/form-data", action="/uploadPhoto")
					label(for="uploadPhoto") 上传头像 :
					input#uploadPhoto(type="file", name="uploadPhoto")
					button.btn.btn-info.btn-xs.block_has(type="submit") 确认上传



		.all_block.block_has
			.block_head 全部文章
			.block_body
				if(user && user.username === name)
					a(href="/post")
						.btn.btn-primary 写新文章
					

					each item in post
						table.full_line
							tr
								th
									a(href="/article/#{item.user._id}/#{item._id}") #{item.title}
								td
									span(class=" glyphicon glyphicon-edit") 评论(#{item.commentL})
								td
									span(class=" glyphicon glyphicon-list-alt") 阅读(#{item.pv})
								td #{item.meta.createAt}
								td
									a(href="/edit/#{item._id}") 编辑
								td
									a(href="/delete/#{item._id}") 删除

				else
					each item in post
						table.full_line
							tr
								th
									a(href="/article/#{item.user._id}/#{item._id}") #{item.title}
								td
									span(class=" glyphicon glyphicon-edit") 评论(#{item.commentL})
								td
									span(class=" glyphicon glyphicon-list-alt") 阅读(#{item.pv})
								td #{item.meta.createAt}




