extends layout
block content
	#content.clearfix
		.block_body#user_show
			#d_border #{name}
		.all_block.block_has
			.block_head 全部文章
			.block_body
				if(user && user.username === name)

					each item in post
						table.full_line
							tr
								th
									a(href="/article/#{item.user._id}/#{item._id}") #{item.title}
								td #{item.meta.createAt}
								td
									a 编辑
								td
									a 删除

				else
					each item in post
						table.full_line
							tr
								th
									a(href="/article/#{item.user._id}/#{item._id}") #{item.title}
								td #{item.meta.createAt}



	br
	a(href="/post") 写博客->